.recipe-list-back-button {
  display: inline;
  margin: 10px;
  padding: 0.7rem 2rem;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.recipe-list-back-button:hover {
  background-color: #45a049;
}
